!!!
%head
  %title Flow
  = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
  = javascript_include_tag 'application', data: { turbolinks_track: true }
  = yield :dashboard_head
  = csrf_meta_tags

%body
  #root
    #layouts_show
      .window
        %header.project= render 'layouts/header'
        = yield
